@import "tailwindcss";

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src:
    url(/fonts/MaterialSymbolsOutlined.woff2) format("woff2"),
    url(/fonts/MaterialSymbolsOutlined.ttf) format("truetype");
  font-display: block;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  user-select: none;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined-filled {
  font-family: "Material Symbols Outlined";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  user-select: none;
  font-feature-settings: "liga";
  font-variation-settings: "FILL" 1;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-50: #fef4ee;
  --color-primary-100: #fce7d8;
  --color-primary-200: #f8cbb0;
  --color-primary-300: #f4a67d;
  --color-primary-400: #ee7749;
  --color-primary-500: #ea5425;
  --color-primary-600: #db3c1b;
  --color-primary-700: #b62b18;
  --color-primary-800: #91251b;
  --color-primary-900: #752119;
  --color-primary-950: #3f0d0b;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-muted: #f7f7f7;
  --color-smoke: #f2f2f2;
  --color-university: #971318;
  --color-danger: #ff5e79;
  --color-success: #2edb51;
  --font-jamjuree: var(--font-jamjuree);
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Calendar View Costumization*/

.rbc-calendar {
  width: 100% !important;
}

.rbc-month-view,
.rbc-time-view {
  border-radius: 15px;
}

.rbc-month-row:last-child .rbc-off-range-bg:last-child {
  border-bottom-right-radius: 15px;
}

.rbc-off-range-bg {
  background-color: #0000000e !important;
}

.rbc-header {
  color: var(--color-dark);
  opacity: 50%;
}

.rbc-month-header .rbc-header {
  padding-bottom: 9px;
  padding-top: 9px;
}

.rbc-timeslot-group {
  padding-top: 7.5px;
}

.rbc-today {
  background-color: #ee774926 !important;
}

.rbc-date-cell .rbc-button-link {
  font-weight: 400 !important;
}

.rbc-day-slot .rbc-time-slot {
  border: none !important;
}

.rbc-time-slot .rbc-label {
  color: var(--color-dark);
  opacity: 50%;
}

.rbc-month-view .rbc-event {
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: calc(100% - 14px) !important;
}

.rbc-allday-cell {
  padding: 0.5px;
}

.rbc-events-container {
  margin: 0 !important;
  padding: 5px !important;
}

.rbc-event {
  box-sizing: border-box !important;
  border: none !important;
  font-weight: 600;
  border-radius: 4px !important;
  overflow: hidden !important;
  position: relative !important;
}

.schedule .rbc-event {
  position: absolute !important;
  border: 5px solid transparent !important;
  background-clip: padding-box !important;
  box-sizing: border-box !important;
  border-radius: 12px !important;
  background-origin: padding-box !important;
}

.schedule .rbc-event-content {
  padding: 2px !important;
}

.rbc-event::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(249, 194, 194, 0),
    var(--gradient-color)
  );
  border-radius: 0 4px 4px 0;
}

.rbc-event-content {
  text-overflow: clip !important;
}

.rbc-current-time-indicator {
  --left: 0%;
  --width: 100%;
  position: absolute !important;

  left: var(--left) !important;
  width: var(--width) !important;
  z-index: 5 !important;
  height: 4px !important;
  background-color: var(--color-primary-400) !important;
  pointer-events: none !important;

  &::before {
    content: "NOW" !important;
    color: var(--color-light) !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 13px;
    position: absolute;
    left: -49px;
    top: 50%;
    transform: translateY(-50%);
    width: 51px;
    height: 26px;
    background-color: var(--color-primary-400);
    clip-path: path(
      "M0 13C0 5.8203 5.8203 0 13 0H25.7015C32.0392 0 38.1829 2.18609 43.0961 6.18943L49 11L51 13L49 15L43.0961 19.8106C38.1829 23.8139 32.0392 26 25.7015 26H13C5.8203 26 0 20.1797 0 13Z"
    );
  }
}

.rbc-time-content,
.rbc-time-column {
  overflow: visible !important;
}

.schedule .rbc-allday-cell {
  display: none;
}
.schedule .rbc-time-view .rbc-header {
  border-bottom: none;
}
